<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PropertyInsurance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=PC200998;Initial Catalog=super_db;User ID=sa;Password=password-1;"  providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <applicationSettings>
    <PropertyInsurance.Properties.Settings>
      <setting name="PropertyInsurance_PaperCustomer_CheckExistingUser"
        serializeAs="String">
        <value>http://localhost:61232/CheckExistingUser.asmx</value>
      </setting>
    </PropertyInsurance.Properties.Settings>
  </applicationSettings>
</configuration>
